*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #202020;
}

.navigation {
  position: fixed; /* Fixa o elemento na tela */
  bottom: 0; /* Coloca o elemento na parte inferior da tela */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Centraliza horizontalmente */
  width: 400px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 999; /* Opcional: ajusta a ordem de empilhamento se necessário */
}


.navigation ul{
  display: flex;
  width: 350px;
}

.navigation ul li{
  list-style: none;
  position: relative;
  width: 70px;
  height: 60px;
  z-index: 2;
}

.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5em;
  transition: 0.5s;
  color: #222327; 
}

.navigation ul li.active a .icon{
  transform: translateY(-30px);
  color: #2196f3;
}
.navigation ul li a .text{
  position: absolute;
  background: #2196f3;
  color: #fff;
  padding: 2px 7px;
  border-radius: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(15px);
}

.navigation ul li.active a .text{
transform: translateY(-4px);
opacity: 1;
}

.indicator{
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
}

.indicator::before{
  content: '';
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 15px 18px #fff;
}
.indicator::after{
  content: '';
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -15px 18px #fff;
}

.navigation ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(70px * 4));
}

/* Telas Para Cada Botão do Menu */
#home {
  width: 100vh;
  height: 100vh; /* Isso fará com que a tela ocupe 100% da altura da viewport */
  background-color: #2196f3;
}

/* Para garantir que a tela seja responsiva em todas as resoluções */
@media screen and (max-width: 768px) {
  /* Defina um estilo alternativo para resoluções menores, se necessário */
  #home {
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100dvh;
    height: auto; /* Altura automática para acomodar o conteúdo */
  }
}
